header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 520px;
  width: 100%;
  background: #89CFF0;
  background-color: #0091ff;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

header div h2 {
  margin-top: 40px;
  color: #FFFFFF;
}