html {
  box-sizing: border-box;
}

main button {
  background-color: #4056A1;
  font-family: 'Bungee';
  color: white;
  margin: 1em;
}

form textarea {
  width: 100%;
  border-style: none;
  border-bottom-style: solid;
  background-color: #f4f1ec;
  border-width: thick;
  font-family: 'Source Sans Pro', sans-serif;
}

.counter {
  display: flex;
  justify-content: flex-end;
  font-family: 'Bungee';
  float: right;
}

.counterRed {
  display: flex;
  justify-content: flex-end;
  font-family: 'Bungee';
  float: right;
  color: red;
}

section .tweetContainer {
  border-style: solid;
}

section div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 2em;
  padding-right: 2em;
}

article {
  align-content: center;
}

article .profile {
  background-color: #f4f1ec;
  background-image: none;
}


article footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 3em;
  padding-right: 1.5em;
  align-content: start;
  margin-top: -2em;
}

article .message {
  display: flex;
  justify-content: start;

  padding-bottom: 2em;
  border-bottom-style: solid;
  margin: 2em;
}

.iconflag:hover {
  color: orange;
}

.iconrefresh:hover {
  color: orange;
}

.iconheart:hover {
  color: orange;
}

.profile img {
  padding-top: 1em;
  margin-left: -2em;
}